/********************************************/
/*   Match The Tiles Styles by PapaProger   */
/*         version 2.1,  23.04.2022         */
/********************************************/

.App {
  width: 100%;
  height: 100vh;

  text-align: center;
  font-size: 4vmin;
  font-weight: bold;
  background-color:rgb(36,36,36);
  color: gold;

  display: flex; /* работаем с равнением */
  flex-direction: row; /* задание направления главной оси - горизонталь */
  -webkit-flex-direction: row; /* на всякий случай */
  justify-content: center; /* по главной оси (по горизонтали) */
  align-items: center; /* перпендикулярно главной оси (по вертикали) */
}

.App > div {
  width: 100vmin;
  height: 66vmin;
}

div {
  user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.tiles-row-wrapper {
  height: 17%;
  padding: 1%;
  
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 10%;
  height: 100%;
  margin: 1%;

  border: 1px solid gray; /* "a" */
  border-radius: 1vmin; /* 10px */

  cursor: pointer;

  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tile.done {
  color: gray;
}

/* чтобы logo.svg отображалось в Firefox */
.tile > div {
  width: 100%;
  /* width: 8vmin; - появляются полосы прокрутки */
}

/* вращающееся лого */

.logo {
  width: 100%; /* height: 100%; - не пишем */
  /* width: 8vmin; - появляются полосы прокрутки */

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* тени и обводка */

@media only screen and (min-height: 400px) {
  .tile {
    box-shadow: 2px 2px 0.8vmin 0 grey; /* 8px */ /* "e" */
  }

  .tile.not-done-yet:hover {
    box-shadow: 2px 2px 0.8vmin 0 gold; /* 8px */
    transition: box-shadow 200ms linear;
  }
}

@media only screen and (max-height: 400px) {
  .tile.not-done-yet:hover {
    border-color: rgba(255,215,0,0.8);
    transition: border-color 200ms linear;
  }
}